.RollDice {
    display: flex;
    flex-flow: column nowrap;
    min-height: 40vh;
}

/* Positioning dice */
.RollDice-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Bootstrap override */
.btn-success, .btn-success:active, .btn-success.visited {
    background-color: #22B14D !important;
}
.btn-success:hover {
    background-color: #19943e !important;
}
